<div id="ns_dialog_build_upgrade">
    <span id="ns_button_build_upgrade_sub_close"></span>
    <div class="dialog_wrap">
        <div class="dialog_header">
            <div class="dialog_title"><span class="content_title"></span></div>
            <div class="dialog_header_left"><span id="ns_button_build_upgrade_close"></span></div>
            <div class="dialog_header_right"><span id="ns_button_build_upgrade_close_all"></span></div>
        </div>
        <div class="dialog_content">
            <div class="content">
                <div class="ns_panel_basic ns_panel_margin_10">
                    <div class="ns_panel_flex_info">
                        <div class="target_image"></div>
                        <div class="target_description"></div>
                    </div>
                </div>

                <div class="ns_panel_heavy ns_panel_margin_xx">
                    <span class="target_level_description"></span>
                </div>

                <div class="ns_panel_trans_top ns_panel_time_info">
                    <span class="content_build_time_title">{{ i18n.t('time_required') }}</span>
                    <span class="content_build_time"></span>
                </div>

                <div class="ns_panel_trans_top ns_panel_margin_yy">
                    <span id="ns_button_build_upgrade_submit">{{ i18n.t('start_choose_hero') }}</span>
                </div>

                <div class="ns_panel_trans_top ns_panel_margin_yy">
                    <span id="ns_button_build_upgrade_submit_now">-</span>
                </div>

                <div class="ns_panel_trans_top ns_panel_margin_yy">
                    <span id="ns_button_build_upgrade_submit_auto">{{ i18n.t('start_immediately') }} ({{ i18n.t('auto_choose_hero') }})</span>
                </div>

                <div class="ns_panel_trans_top ns_panel_margin_y">
                    <span class="text_status">{{ i18n.t('performance_conditions') }}</span>
                </div>

                <div class="ns_panel_trans ns_panel_margin_xx">
                    <table class="ns_table_common content_table">
                        <thead>
                        <tr>
                            <th>{{ i18n.t('category') }}</th>
                            <th>{{ i18n.t('requirement') }}</th>
                            <th>{{ i18n.t('current_storage') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="dialog_footer"></div>
    </div>
</div>
