<div id="ns_dialog_build_ReceptionHall">
    <span id="ns_button_build_ReceptionHall_sub_close"></span>
    <div class="dialog_wrap">
        <div class="dialog_header">
            <div class="dialog_title">
                <span class="content_title"></span>
                <span class="content_level"></span>
                <span class="content_upgrading">&nbsp;&nbsp;{{ i18n.t('construction_upgrading') }}</span>
            </div>
            <div class="dialog_header_left"><span id="ns_button_build_ReceptionHall_close"></span></div>
            <div class="dialog_header_right"><span id="ns_button_build_ReceptionHall_close_all"></span></div>
        </div>
        <div class="dialog_content">

            <div class="ns_panel_sub_top ns_panel_flex">
                <div class="ns_panel_build_button_left ns_panel_flex_item_auto">
                    <!-- span id="ns_button_build_desc_ReceptionHall"></span -->
                    <span id="ns_button_build_move_ReceptionHall">{{ i18n.t('building_move') }}</span>
                </div>
                <div class="ns_panel_build_button_left ns_panel_flex_item_auto">
                </div>
                <div class="ns_panel_build_button_right ns_panel_flex_item_auto">
                    <!-- ##### BUIL_BTN_RIGHT ##### -->
                </div>
            </div>

            <div class="content">

                <!-- ########## -->

                <div class="ns_panel_basic content_build_desc_wrap">
                    <div class="ns_panel_contents_padding">

                        <div class="content_build_desc">

                            <p class="content_build_desc_def"></p>
                            <p class="content_build_desc_footnote"></p>
                            <!-- ##### HERO_ASSIGN_1 ##### -->
                            <div class="ns_panel_trans content_build_desc_vr">
                                <div class="hr_normal_line "></div>
                            </div>

                            <div class="content_card_empty ns_panel_flex">
                                <div class="ns_panel_flex_item_auto ns_panel_position_relative">
                                    <span class="button_hero_no_assign"></span>
                                    <span id="ns_button_build_no_assign_ReceptionHall"></span>
                                </div>
                                <div class="ns_panel_flex_item_auto">
                                    <div class="content_assign_effect">
                                        <p>{{ i18n.t('hero_assign_add_effect') }}</p>
                                        <p class="content_build_desc_assign"></p>
                                        <p class="content_build_desc_assign_footnote"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="content_card ns_panel_flex">
                                <div class="ns_panel_position_relative ns_panel_flex_item_auto">
                                    <div class="content_hero_detail"></div>
                                    <span id="ns_button_build_assign_ReceptionHall"></span>
                                </div>
                                <div class="ns_panel_flex_item_auto">
                                    <div class="content_hero_effect">
                                        <p><span>{{ i18n.t('abilites') }} : </span><span class="content_applied_capa"></span></p>
                                        <p><span>{{ i18n.t('skill') }} : </span><span class="content_applied_skill"></span></p>
                                    </div>
                                </div>
                            </div>

                            <!-- ##### HERO_ASSIGN_1 ##### -->
                        </div>
                        <!-- ##### HERO_ASSIGN_2 ##### -->
                        <div class="content_build_desc_sm">

                            <div class="content_card_sm_empty ns_panel_flex">
                                <div class="ns_panel_flex_item_auto">
                                    <div class="hero_card_sm ns_panel_flex">
                                        <div class="hero_card_sm_image ns_panel_flex_item_auto"></div>
                                        <div class="hero_card_sm_desc ns_panel_flex_item_auto">
                                            <p class="hero_card_sm_name">{{ i18n.t('assign') }}</p>
                                            <p class="hero_card_sm_level">{{ i18n.t('none') }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="vr_hero_card_sm ns_panel_flex_item_auto"></div>
                                <div class="ns_panel_flex_item_auto">
                                    <div class="content_hero_effect_sm">
                                        <p><span></span><span class="content_build_desc_assign_sm"></span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="content_card_sm ns_panel_flex">
                                <div class="ns_panel_flex_item_auto">
                                    <div class="content_hero_sm"></div>
                                </div>
                                <div class="ns_panel_flex_item_auto vr_hero_card_sm"></div>
                                <div class="ns_panel_flex_item_auto">
                                    <div class="content_hero_effect_sm">
                                        <p><span>{{ i18n.t('abilites') }} : </span><span class="content_applied_capa_sm"></span></p>
                                        <p><span>{{ i18n.t('skill') }} : </span><span class="content_applied_skill_sm"></span></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- ##### HERO_ASSIGN_2 ##### -->
                    </div>
                </div>

                <div class="ns_panel_heavy ns_panel_margin_10 content_build_level_desc">
                </div>

                <div class="ns_panel_trans">
                    <div class="ns_panel_build_upgrade content_build_cons">
                        <div><span class="content_build_construct_hero">-</span><br /><span class="content_build_left_time">-</span></div>
                        <div class="ns_panel_trans">
                            <span id="ns_button_build_speedup_ReceptionHall">{{ i18n.t('encourage') }}</span>
                            <!-- <span id="ns_button_buil_cancel_ReceptionHall">취소</span> -->
                        </div>
                    </div>
                    <div class="ns_panel_build_upgrade content_build_upgrade">
                        <span id="ns_button_build_upgrade_ReceptionHall">{{ i18n.t('upgrade') }}</span>
                    </div>
                    <!-- ##### MULTI_NAVI ##### --><div class="ns_panel_build_upgrade content_build_cons_multi">
                        <span id="ns_button_build_prev_ReceptionHall">&nbsp;</span> <span id="ns_button_build_cons_ReceptionHall">{{ i18n.t('add_construction') }} (<span class="content_page_curr">0</span>/<span class="content_page_total">0</span>)</span> <span id="ns_button_build_next_ReceptionHall">&nbsp;</span>
                    </div><!-- ##### MULTI_NAVI ##### -->
                    <div class="ns_panel_build_upgrade content_build_max_level">
                        <!-- <p>최고 레벨 건설 완료</p> -->
                    </div>
                </div>

                <!-- ########## -->

                <div class="ns_panel_tab ns_panel_grid_2 ns_panel_margin_10">
                    <span id="ns_button_build_ReceptionHall_tab_hero_free">{{ i18n.t('itinerant_hero_bid') }}</span>
                    <span id="ns_button_build_ReceptionHall_tab_hero_encounter">{{ i18n.t('hero_exploration') }}</span>
                </div>

                <div class="tab_hero_free ns_panel_margin_xx">

                    <div class="ns_panel_trans_top ns_panel_flex content_header_wrapper text_gray">
                        <div class="ns_panel_flex_item_auto">{{ i18n.t('itinerant_hero') }} <span class="hero_free_count">(0/0)</span></div>
                        <div class="ns_panel_flex_right"><span class="content_bid_close_time"></span></div>
                    </div>

                    <div class="ns_panel_basic">
                        <div class="ns_panel_trans ns_panel_position_relative">
                            <span id="ns_button_build_ReceptionHall_hero_free_bid"></span>
                            <div class="hero_free_bid_off_description">
                                <p class="ns_panel_margin_auto">{{ i18n.t('reception_hall_auction_description') | raw }}</p>
                            </div>
                            <table class="ns_table_common">
                                <thead>
                                <tr>
                                    <th>{{ i18n.t('hero') }}</th>
                                    <th>{{ i18n.t('hero_grade') }}</th>
                                    <th>{{ i18n.t('stats_leadership') }}</th>
                                    <th>{{ i18n.t('stats_military_force') }}</th>
                                    <th>{{ i18n.t('stats_intellect') }}</th>
                                    <th>{{ i18n.t('stats_politics') }}</th>
                                    <th>{{ i18n.t('stats_charm') }}</th>
                                    <th>입찰</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab_hero_encounter ns_panel_margin_xx">

                    <div class="ns_panel_heavy ns_panel_trans">
                        <div class="content_concurr_body ns_panel_flex">
                            <div class="ns_panel_flex_item_auto">
                                <span class="content_concurr_title"></span>
                            </div>
                            <div class="ns_panel_flex_right">
                                <span class="content_concurr_time">{{ i18n.t('calculating') }}</span>
                                <span id="ns_button_build_ReceptionHall_encounter_cancel"></span>
                                <span id="ns_button_build_ReceptionHall_invitation_cancel"></span>
                            </div>
                        </div>
                        <div class="content_concurr_idle">{{ i18n.t('not_in_exploration') }}</div>
                    </div>

                    <div class="result_encounter_notfound">
                        <div class="ns_panel_most ns_panel_trans">
                            <div class="content_side_pattern_bg">
                                <div class="ns_panel_contents_padding">
                                    <div class="ns_panel_flex text_cadet_gray">
                                        <div class="ns_panel_flex_item_auto text_align_center">
                                            {{ i18n.t('exploration_type') }} <span id="ns_button_build_ReceptionHall_hero_encounter_filter"></span>
                                        </div>
                                        <div class="ns_panel_flex_right text_align_center">
                                            {{ i18n.t('item') }} <span id="ns_button_hero_encounter_select_item">{{ i18n.t('choose') }}</span>
                                        </div>
                                    </div>

                                    <div class="ns_panel_trans ns_panel_contents_padding">
                                        <p class="encounter_description text_cadet_gray"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ns_panel_contents_padding wrapper_reception_desc">
                            {{ i18n.t('reception_hall_exploration_description') | raw }}
                        </div>

                        <div class="ns_panel_pop_button">
                            <span id="ns_button_build_ReceptionHall_encounter_do">{{ i18n.t('start_choose_hero') }}</span>
                        </div>
                    </div>

                    <div class="result_encounter_progress">
                        <div class="ns_panel_most ns_panel_trans">
                            <div class="content_side_pattern_bg ns_panel_flex_column">
                                <div class="progress_hero"></div>
                                <div class="invitation_hero"></div>
                                <div class="progress_description"><span></span></div>
                            </div>
                        </div>

                        <div class="ns_panel_pop_button">
                            <span id="ns_button_build_ReceptionHall_encounter_invitation_cancel">{{ i18n.t('invitation_cancel') }}</span>
                        </div>
                    </div>

                    <div class="result_encounter_found">

                        <div class="ns_panel_most ns_panel_trans">
                            <div class="content_side_pattern_bg">
                                <div class="encounter_type_invitation_success">
                                    <div class="invitation_success_hero ns_panel_flex"></div>
                                    <div class="invitation_success_description"></div>
                                </div>
                                <div class="encounter_type_hero">
                                    <div class="invitation ns_panel_flex"></div>
                                    <div class="invitation_description"></div>
                                </div>
                                <div class="encounter_type_item_resource ns_panel_flex_column">
                                    <div class="item_resource_image"></div>
                                    <div class="item_resource_title"></div>
                                    <div class="item_resource_description"></div>
                                </div>
                            </div>
                        </div>

                        <div class="encounter_type_hero_info">
                            <div class="ns_panel_most ns_panel_trans text_cadet_gray">
                                <div class="content_side_pattern_bg">
                                    <div class="ns_panel_contents_padding">
                                        <div class="ns_panel_flex">
                                            <div class="ns_panel_flex_item_auto ns_panel_trans">
                                                <span>{{ i18n.t('invitation_cost') }}</span>
                                                <span id="ns_button_hero_invitation_gold_up"></span><span id="ns_button_send_gold_value">0</span><span id="ns_button_hero_invitation_gold_down"></span>
                                            </div>
                                            <div class="ns_panel_flex_right ns_panel_trans">
                                                {{ i18n.t('item') }} <span id="ns_button_hero_invitation_select_item">{{ i18n.t('choose') }}</span>
                                            </div>
                                        </div>

                                        <div class="ns_panel_trans hero_encounter_description">
                                            <p class="cont_desc_invitation">{{ i18n.t('reception_hall_invitation_description') | raw }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="encounter_type_hero_invitation">
                            <div class="ns_panel_trans">
                                <div class="ns_panel_heavy">
                                    <div class="ns_panel_most ns_panel_trans">
                                        <div class="text_align_center">
                                            <span>{{ i18n.t('time_required') }} : 30{{ i18n.t('second') }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ns_panel_pop_button">
                            <span id="ns_button_build_ReceptionHall_encounter_invitation">{{ i18n.t('hero_choose_and_invitation') }}</span>
                            <span id="ns_button_build_ReceptionHall_encounter_re">{{ i18n.t('retry_exploration') }}</span>
                            <span id="ns_button_build_ReceptionHall_encounter_get">{{ i18n.t('receive') }}</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="dialog_footer"></div>
    </div>
</div>

<!-- 재야영웅 입찰 -->
<div id="ns_dialog_build_ReceptionHall_bid">
    <span id="ns_button_build_ReceptionHall_bid_sub_close"></span>
    <div class="dialog_wrap">
        <div class="dialog_header">
            <div class="dialog_title">
                <span class="content_title">{{ i18n.t('itinerant_hero_bid') }}</span>
                <span class="content_level"></span>
            </div>
            <div class="dialog_header_left"><span id="ns_button_build_ReceptionHall_bid_close"></span></div>
            <div class="dialog_header_right"><span id="ns_button_build_ReceptionHall_bid_close_all"></span></div>
        </div>
        <div class="dialog_content">
            <div class="content">

                <div class="ns_panel_most ns_panel_trans">
                    <div class="content_side_pattern_bg">
                        <div class="ns_panel_contents_padding">
                            <div class="content_card_wrap">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ns_panel_most">
                    <div class="ns_panel_contents_padding">{{ i18n.t('itinerant_hero_bid_description') | raw }}</div>
                </div>

                <div class="ns_panel_basic ns_panel_margin_10">
                    <div class="ns_panel_most">
                        <table class="ns_table_common">
                            <thead>
                            <tr>
                                <th colspan="2">{{ i18n.t('offer_bidding_gold') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div>{{ i18n.t('current_reosurce_gold') }} : <span class="gold_amount">0</span></div>
                                    <div>{{ i18n.t('current_bidding_gold') }} : <span class="bidding_gold">0</span></div>
                                    <div class="ns_panel_inline_flex"><span id="ns_button_hero_free_bid_up"></span><span id="ns_button_hero_free_bid_value">0</span><span id="ns_button_hero_free_bid_down"></span></div>
                                </td>
                                <td>
                                    <div>{{ i18n.t('highest_bidding_gold') }}</div>
                                    <div><span class="bidding_best">0</span></div>
                                    <div class="bidding_list_wrap">

                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="ns_panel_pop_button">
                    <span id="ns_button_hero_free_bid_submit">{{ i18n.t('make_bid') }}</span>
                </div>

            </div>
        </div>
        <div class="dialog_footer"></div>
    </div>
</div>