<div id="ns_dialog_connect">
    <div class="dialog_wrap">
        <div class="dialog_header">
            <div class="dialog_title"><span class="content_title"></span></div>
        </div>
        <div class="dialog_content">
            <div class="content">

                <div class="game_rating">
                    <div class="rating r15"></div>
                    <div class="rating sexuality"></div>
                </div>

                <div class="ns_dialog_trans_top">
                    <span class="content_message"></span>
                </div>

                <div class="content_button_area">
                    <span id="ns_button_connect_signup_guest">{{ i18n.t('guest_game_play') }}</span>
                    <span id="ns_button_connect_login">{{ i18n.t('login_and_membership') }}</span>
                    <span id="ns_button_connect_password_forgot">{{ i18n.t('find_the_password') }}</span>
                    <!-- span id="ns_button_connect_inquiry">{{ i18n.t('inquiry') }}</span -->
                    <span id="ns_button_connect_retry">{{ i18n.t('retrying') }}</span>
                    <span id="ns_button_connect_language_change"></span>
                </div>

            </div>
        </div>
        <div class="dialog_footer">
            <p class="game_version">Version: {{ version }}</p>
        </div>
    </div>
</div>
