<div id="ns_dialog_hero_manage">
    <span id="ns_button_hero_manage_sub_close"></span>
    <div class="dialog_wrap">
        <div class="dialog_header">
            <div class="dialog_title">
                <span class="content_title">{{ i18n.t('hero_manage') }}</span>
            </div>
            <div class="dialog_header_left"><span id="ns_button_hero_manage_close"></span></div>
            <div class="dialog_header_right"><span id="ns_button_hero_manage_close_all"></span></div>
        </div>
        <div class="dialog_content">

            <div class="hero_manage_float_buttons">
                <span id="ns_button_hero_manage_list_top">↑</span>
                <span id="ns_button_hero_manage_list_bottom">↓</span>
            </div>

            <div class="ns_panel_tab ns_panel_grid_4">
                <span id="ns_button_hero_manage_tab_all">{{ i18n.t('total') }}</span>
                <span id="ns_button_hero_manage_tab_visit">{{ i18n.t('before_recruitment') }}</span>
                <span id="ns_button_hero_manage_tab_guest">{{ i18n.t('before_appoint') }}</span>
                <span id="ns_button_hero_manage_tab_appoint">{{ i18n.t('after_appoint') }}</span>
            </div>

            <div class="ns_panel_sub_top ns_panel_flex">
                <div class="ns_panel_flex_item_auto ns_panel_flex_middle content_header_wrapper text_gray">
                    <!-- span id="ns_button_hero_manage_prev">&nbsp;</span>
                    <span class="text_page_paging ">
                        <span class="content_current_page">0</span>&nbsp;/&nbsp;<span class="content_total_page">0</span>
                    </span>
                    <span id="ns_button_hero_manage_next">&nbsp;</span -->
                    <span id="ns_button_hero_manage_sort">-</span>&nbsp;
                    <span id="ns_button_hero_manage_territory"><!-- 영지별 --></span>&nbsp;
                </div>
                <div class="ns_panel_flex_right">
                    <span id="ns_button_hero_manage_officer_deal">{{ i18n.t('purchase_office') }}</span>
                    <span id="ns_button_hero_manage_hero_slot">{{ i18n.t('extend') }}</span>
                </div>
            </div>

            <div class="content">

                <!-- div class="ns_panel_tab ns_panel_grid_3">
                    <span id="ns_button_hero_manage_tab_sub_stat">능력치</span>
                    <span id="ns_button_hero_manage_tab_sub_officer">관직 및 충성</span>
                    <span id="ns_button_hero_manage_tab_sub_army">병과적성</span>
                </div -->

                <div class="ns_panel_basic cont_background">

                    <div class="ns_panel_basic ns_panel_margin_xx ns_panel_margin_yy">
                        <div class="ns_panel_trans_top ns_panel_flex hero_manage_sub_top">
                            <div class="ns_panel_flex_item_auto">

                                <span>{{ i18n.t('appoint_status') }} (<span class="hero_officer_appoint">0</span>/<span class="hero_officer_amount">0</span>)</span>
                            </div>
                            <div class="ns_panel_flex_right">
                                <span>{{ i18n.t('hero_recruitment_slot') }} (<span class="hero_slot_used">0</span>/<span class="hero_slot_amount">0</span>)</span>
                            </div>
                        </div>

                        <div class="ns_panel_trans">
                            <div class="hero_manage_list_wrap ns_panel_grid_4 ns_panel_grid_center">

                            </div>
                            <!-- table class="ns_table_common content_hero_manage_table">
                                <thead>
                                <tr>
                                    <th>영웅</th>
                                    <th>레어</th>

                                    <th class="filter_stat">통솔</th>
                                    <th class="filter_stat">무력</th>
                                    <th class="filter_stat">지력</th>
                                    <th class="filter_stat">정치</th>
                                    <th class="filter_stat">매력</th>

                                    <th class="filter_officer">관직</th>
                                    <th class="filter_officer">충성</th>
                                    <th class="filter_officer">기술</th>

                                    <th class="filter_army">보병</th>
                                    <th class="filter_army">창병</th>
                                    <th class="filter_army">극병</th>
                                    <th class="filter_army">궁병</th>
                                    <th class="filter_army">기병</th>
                                    <th class="filter_army">공성</th>

                                    <th class="cont_event_listener_vr_status">상태</th>
                                    <th>현황</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table -->

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="dialog_footer"></div>
    </div>
</div>
