<div id="ns_dialog_hero_select">
    <span id="ns_button_hero_select_sub_close"></span>
    <div class="dialog_wrap">
        <div class="dialog_header">
            <div class="dialog_title"><span class="content_title">{{ i18n.t('choose_hero') }}</span></div>
            <div class="dialog_header_left"><span id="ns_button_hero_select_close"></span></div>
            <div class="dialog_header_right"><span id="ns_button_hero_select_close_all"></span></div>
        </div>
        <div class="dialog_content">
            <div class="content">

                <div class="content_card_wrap">
                    <div class="ns_panel_basic content_previous_card">
                        <div class="ns_panel_contents_padding">
                            <div>
                                <span class="content_previous_card_title"></span>
                            </div>
                            <div class="ns_panel_flex">
                                <div class="content_previous_hero_detail"></div>
                                <div class="content_hero_effect">
                                    <p><span>{{ i18n.t('abilites') }} : </span><span class="content_previous_applied_capa"></span></p>
                                    <p><span>{{ i18n.t('skill') }} : </span><span class="content_previous_applied_skill"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content_previous_card_button">
                        <div class="content_previous_card_message"></div>
                        <div id="ns_button_hero_select_undo"></div>
                    </div>

                    <div class="hr_division_brown"></div>

                    <div class="ns_panel_basic content_next_card">
                        <div class="ns_panel_contents_padding">
                            <div>
                                <span class="content_next_card_title"></span>
                            </div>

                            <div class="content_card_no_select ns_panel_flex">
                                <div class="ns_panel_flex_item_auto">
                                    <span class="content_hero_no_select"></span>
                                </div>
                                <div class="ns_panel_flex_item_auto">
                                    <div class="content_card_no_select_wrap">
                                        <p class="content_card_no_select_title"></p>
                                        <p class="content_card_no_select_desc"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="content_card_select">
                                <div class="content_hero_detail"></div>
                                <div class="content_hero_effect">
                                    <p><strong>{{ i18n.t('abilites') }} : </strong><span class="content_applied_capa"></span></p>
                                    <p><strong>{{ i18n.t('skill') }} : </strong><span class="content_applied_skill"></span></p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="content_next_card_button">
                        <div class="content_next_card_message"></div>
                        <div id="ns_button_hero_select_do"></div>
                    </div>

                </div>

            </div>
        </div>
        <div class="dialog_footer"></div>
    </div>
</div>






