<div id="ns_dialog_hero_officer">
    <span id="ns_button_hero_officer_sub_close"></span>
    <div class="dialog_wrap">
        <div class="dialog_header">
            <div class="dialog_pop_header">
                <span id="ns_button_hero_officer_close"></span>
                <span class="content_pop_title"></span>
            </div>
        </div>
        <div class="dialog_content">
            <div class="content">

                <div class="ns_panel_trans">

                    <table class="ns_table_common">
                        <thead>
                        <tr>
                            <th>{{ i18n.t('officer') }}</th>
                            <th><span class="content_action_title"></span></th>
                            <th>{{ i18n.t('stats_leadership') }}+</th>
                            <th>{{ i18n.t('stats_military_force') }}+</th>
                            <th>{{ i18n.t('stats_intellect') }}+</th>
                            <th>{{ i18n.t('stats_politics') }}+</th>
                            <th>{{ i18n.t('stats_charm') }}+</th>
                            <!-- <th>급여</th> -->
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>

            </div>
        </div>
        <div class="dialog_footer"></div>
    </div>
</div>
