<div id="ns_dialog_my_item">
    <span id="ns_button_my_item_sub_close"></span>
    <div class="dialog_wrap">
        <div class="dialog_header">
            <div class="dialog_title">
                <span class="content_title">{{ i18n.t('treasure_house') }}</span>
            </div>
            <div class="dialog_header_left"><span id="ns_button_my_item_close"></span></div>
            <div class="dialog_header_right"><span id="ns_button_my_item_close_all"></span></div>
        </div>
        <div class="dialog_content">

            <div class="ns_panel_sub_top ns_panel_flex wrapper_sub_top_button">
                <div class="ns_panel_build_button_left ns_panel_flex_item_auto">
                    <span id="ns_button_my_item_item">{{ i18n.t('item_shop') }}</span><!-- <span class="main_noti_icon_event">&nbsp;</span> --><span id="ns_button_my_item_hero_skill" >{{ i18n.t('unselected_skill_box') }}</span>
                </div>
                <div class="ns_panel_build_button_right">
                    <div id="ns_button_my_item_qbig" class="button_charge_qbig_common">
                        <span class="ns_qbig"></span>
                    </div>
                </div>
            </div>

            <!-- div class="report_unread_blue cont_my_item_flag_production">N</div flag 는 CSS로 처리할 방법을 고민해라 -->
            <div class="ns_panel_tab ns_panel_grid_6">
                <span id="ns_button_my_item_tab_production">{{ i18n.t('increase') }}</span>
                <span id="ns_button_my_item_tab_speedup">{{ i18n.t('shorten') }}</span>
                <span id="ns_button_my_item_tab_lord">{{ i18n.t('lord') }}</span>
                <span id="ns_button_my_item_tab_special">{{ i18n.t('special') }}</span>
                <span id="ns_button_my_item_tab_package">{{ i18n.t('package') }}</span>
                <span id="ns_button_my_item_tab_hero">{{ i18n.t('hero') }}</span>
            </div>

            <div class="content">

                <div class="ns_panel_trans content_item_list_wrap ns_panel_grid_2"></div>

            </div>
        </div>
        <div class="dialog_footer"></div>
    </div>
</div>
