<div id="ns_dialog_npc_point">
    <span id="ns_button_npc_point_sub_close"></span>
    <div class="dialog_wrap">
        <div class="dialog_header">
            <div class="dialog_title">
                <span class="content_title">{{ i18n.t('strategic_point_status') }}</span>
            </div>
            <div class="dialog_header_left"><span id="ns_button_npc_point_close"></span></div>
            <div class="dialog_header_right"><span id="ns_button_npc_point_close_all"></span></div>
        </div>
        <div class="dialog_content">
            <div class="content">

                <div class="ns_panel_margin_10 text_align_center"><span class="text_description">{{ i18n.t('strategic_point_status_description') }}</span></div>

                <div class="ns_panel_margin_xx ns_panel_margin_y">
                    <table class="npc_point_my_wrap ns_table_common">
                        <thead>
                        <tr>
                            <th class="width-33">{{ i18n.t('my_ranking') }}</th>
                            <th class="width-33">{{ i18n.t('possession_occupation_point') }}</th>
                            <th>{{ i18n.t('possession_occupation_coin') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="my_npc_point_rank">0</span></td>
                            <td><span class="my_npc_point_score">0</span></td>
                            <td><span class="my_npc_point_coin">0</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="ns_panel_margin_10">
                    <table class="ns_table_common">
                        <thead>
                        <tr>
                            <th class="width-20">{{ i18n.t('ranking') }}</th>
                            <th>{{ i18n.t('accumulation_point') }}</th>
                        </tr>
                        </thead>
                        <tbody class="npc_point_ranking_wrap">

                        </tbody>
                    </table>

                </div>

                <div class="ns_panel_margin_10">
                    <table class="npc_point_position_wrap ns_table_common">
                        <thead>
                        <tr>
                            <th class="width-20">{{ i18n.t('coordinates') }}</th>
                            <th class="width-20">{{ i18n.t('distance') }}</th>
                            <th class="width-20">{{ i18n.t('level') }}</th>
                            <th>{{ i18n.t('current_status') }}</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="dialog_footer"></div>
    </div>
</div>