<div id="ns_dialog_server_select">
    <div class="dialog_wrap">
        <div class="dialog_header">
            <div class="dialog_title"><span class="content_title"></span></div>
        </div>
        <div class="dialog_content">
            <div class="content">

                <div class="game_rating">
                    <div class="rating r15"></div>
                    <div class="rating sexuality"></div>
                </div>

                <div class="content_server_bg">
                    <div class="content_server">
                        <div class="server_button_wrap">
                            <span id="ns_button_server_select_left"></span>
                            <span id="ns_button_server_select_star"></span>
                            <span id="ns_button_server_select_right"></span>
                        </div>
                    </div>
                    <div class="content_server_lord"></div>
                </div>

                <div class="ns_dialog_trans_top">
                    <span class="content_message"><span class="content_member_id"></span> <span class="content_delegate_wrap"><br /><span class="content_delegate"></span></span></span>
                </div>

                <div class="ns_dialog_trans_top">
                    <span class="text_white_with_shadow">게임을 불러오고 있습니다. 잠시만 기다려 주십시오.</span>
                </div>

                <div class="content_button_area">
                    <span id="ns_button_server_select_game_start">{{ i18n.t('game_on') }}</span>
                    <span id="ns_button_server_select_login">{{ i18n.t('login_and_membership') }}</span>
                    <span id="ns_button_server_select_logout">{{ i18n.t('logout') }}</span>
                    <span id="ns_button_server_select_modify">{{ i18n.t('member_modify') }}</span>
                    <!-- span id="ns_button_server_select_inquiry">{{ i18n.t('inquiry') }}</span -->
                    <span id="ns_button_server_select_language_change"></span>
                </div>

            </div>
        </div>
        <div class="dialog_footer">
            <p class="game_version">Version: {{ version }}</p>
        </div>
    </div>
</div>
