
<h2>[ {{ _SESSION['selected_lord']['lord_name'] }} ] 군주 기본 정보</h2>
<hr />
<div class="hide">
    <input id="target_server_pk" value="{{ _SESSION['selected_server']['server_pk'] }}">
</div>
<div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" id="gbox_lord_own_terr_list" dir="ltr" style="width: 100%; ">
    <div class="ui-jqgrid-view" id="gview_lord_own_terr_list" style="width: 100%; ">
        <div class="ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix">
            <span class="ui-jqgrid-title">군주 기본 정보</span>
        </div>
        <div class="ui-jqgrid-bdiv" style="width: 100%; ">
            <div style="position:relative;">
                <div></div>
                <table id="lord_info_base" style="width: 100%; text-align:center; table-layout:fixed;" class="jqGridTable ui-jqgrid-btable" cellSpacing="0" cellPadding="0" border="0">
                    <tbody>
                    <tr class="ui-widget-content jqgrow ui-row-ltr" style="text-align:center;">
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">계정 ID</th>
                        <td style="text-align:center;">{{ view_data.lord_info['web_id'] }}</td>
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">계정 상태</th>
                        <td style="text-align:center;">{{ view_data.lord_info['status'] }}</td>
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">정식계정 여부</th>
                        <td style="text-align:center;">{% if view_data.acco_info['access_by'] == 'G' %}게스트{% else %}정식계정{% endif %}</td>
                    </tr>
                    <tr class="ui-widget-content jqgrow ui-row-ltr" style="text-align:center;">
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">이메일 계정</th>
                        <td style="text-align:center;" id="now_member_id">{% if view_data.member_info %}{{ view_data.member_info['id'] }}{% else %}-{% endif %}</td>
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">UUID</th>
                        <td style="text-align:center;">{% if view_data.acco_info['uid'] %}{{ view_data.acco_info['uid'] }}{% else %}-{% endif %}</td>
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">정식계정 등록일</th>
                        <td style="text-align:center;">{% if view_data.member_info %}{{ view_data.member_info['regist_dt'] | date('Y-m-d H:i:s') }}{% else %}-{% endif %}</td>
                    </tr>
                    <tr class="ui-widget-content jqgrow ui-row-ltr" style="text-align:center;">
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">서버명</th>
                        <td style="text-align:center;">{{ _SESSION['selected_server']['server_name'] }}</td>
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">군주 생성 시 채널(플렛폼)</th>
                        <td style="text-align:center;">{% if view_data.device_info['platform'] %}{{ view_data.device_info['platform'] }}{% else %}-{% endif %}</td>
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">군주 등록 일시</th>
                        <td style="text-align:center;">{% if view_data.lord_info %}{{ view_data.lord_info['regist_dt'] | date('Y-m-d H:i:s') }}{% else %}-{% endif %}</td>
                    </tr>
                    <tr class="ui-widget-content jqgrow ui-row-ltr" style="text-align:center;">
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">로그인 상태</th>
                        <td style="text-align:center;">{% if view_data.lord_info['is_logon'] == 'Y' %}로그인 중{% else %}로그아웃{% endif %}</td>
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">마지막 접속 시 마켓</th>
                        <td style="text-align:center;">{{ view_data.lord_info['platform'] }}</td>
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">마지막 접속 일시</th>
                        <td style="text-align:center;">{{ view_data.lord_info['last_login_dt'] | date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr class="ui-widget-content jqgrow ui-row-ltr" style="text-align:center;">
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">군주명</th>
                        <td style="text-align:center;" id="now_lord_name">{{ _SESSION['selected_lord']['lord_name'] }}</td>
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">군주카드</th>
                        {% set lord_pic = { 1: '유비', 2: '조조', 3: '손권', 4: '원소', 5: '동탁' } %}
                        <td style="text-align:center;">{{ lord_pic[view_data.lord_info['lord_pic']] }}</td>
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">군주등급</th>
                        <td style="text-align:center;">{{ view_data.lord_info['level'] }}</td>
                    </tr>
                    <tr class="ui-widget-content jqgrow ui-row-ltr" style="text-align:center;">
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">보유 큐빅</th>
                        <td style="text-align:center;">{{ view_data.lord_info['cash'] | number_format }}</td>
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">보유 영지 수</th>
                        <td style="text-align:center;">{{ view_data.lord_info['position_cnt'] }}</td>
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">영향력</th>
                        <td style="text-align:center;">{{ view_data.lord_info['power'] | number_format }}</td>
                    </tr>
                    <tr class="ui-widget-content jqgrow ui-row-ltr" style="text-align:center;">
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">동맹명</th>
                        <td style="text-align:center;">{{ view_data.alliance_title }}</td>
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">매관매직/영웅슬롯</th>
                        <td style="text-align:center;">{{ view_data.office_cnt }} / {{ view_data.lord_info['num_slot_guest_hero'] }}</td>
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">최종 결제큐빅</th>
                        <td style="text-align:center;">{% if view_data.qbig_info %}{{ view_data.lord_info['buy_qbig'] }}{% else %}-{% endif %}</td>
                    </tr>
                    <tr class="ui-widget-content jqgrow ui-row-ltr" style="text-align:center;">
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">최종 결제일시</th>
                        <td style="text-align:center;">{% if view_data.qbig_info %}{{ view_data.lord_info['buy_dt'] | date('Y-m-d H:i:s') }}{% else %}-{% endif %}</td>
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">최종 결제마켓</th>
                        <td style="text-align:center;">{% if view_data.qbig_info %}{{ view_data.lord_info['store_type'] }}{% else %}-{% endif %}</td>
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">탈퇴 일시</th>
                        <td style="text-align:center;">{% if view_data.lord_info['withdraw_dt'] %}{{ view_data.lord_info['withdraw_dt'] | date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br/>

{% if _SESSION['gm_permit']['PGGM'] == 1 %}
    <div style="text-align:right;">
        <button id="change_lord_own_trade_gold" style="padding:0.4em;">&nbsp;황금창고 보유황금 수정&nbsp;</button>
        <!-- <button id="change_lord_own_point_coin" style="padding:0.4em;">&nbsp;요충지 코인 수정&nbsp;</button> -->
        <!-- <button id="change_flag_name" style="padding:0.4em;">&nbsp;깃발명 변경&nbsp;</button> -->
        <?php
		if ($devi_info['platform'] != 'AB' && $devi_info['platform'] != 'NB' && $devi_info['platform'] != 'PB')
		{
	?><button id="change_lord_name" style="padding:0.4em;">&nbsp;군주명 변경&nbsp;</button><?php } ?>
        <button id="change_member_id" style="padding:0.4em;">&nbsp;이메일 변경&nbsp;</button>
    </div>
{% endif %}
<div id="change_lord_name_form" title="군주명 변경">
    <h3>군주명 입력</h3>
    <hr />
    <div>
        <input type="text" id="lord_name" />
    </div>
    <br/>
    <h3>사유 입력</h3>
    <hr />
    <div>
        <textarea id="change_lord_name_cause" style="width:250px;min-width:250px;max-width:250px; height:32px;"></textarea>
    </div>
</div>

<div id="change_member_id_form" title="이메일 변경">
    <h3>이메일 입력</h3>
    <hr />
    <div>
        <input type="text" id="member_id" />
    </div>
    <br/>
    <h3>사유 입력</h3>
    <hr />
    <div>
        <textarea id="change_member_id_cause" style="width:250px;min-width:250px;max-width:250px; height:32px;"></textarea>
    </div>
</div>

<div id="change_flag_name_form" title="깃발명 변경">
    <h3>깃발명 입력</h3>
    <hr />
    <div>
        <input type="text" id="flag_name" />
    </div>
    <br/>
    <h3>사유 입력</h3>
    <hr />
    <div>
        <textarea id="change_flag_name_cause" style="width:250px;min-width:250px;max-width:250px; height:32px;"></textarea>
    </div>
</div>

<div id="change_lord_own_trade_gold_form" title="황금창고 보유황금 변경">
    <h3>황금</h3>
    <hr />
    <div>
        <input type="text" id="trade_gold" />
    </div>
    <br/>
    <h3>사유 입력</h3>
    <hr />
    <div>
        <textarea id="change_lord_own_trade_gold_cause" style="width:250px;min-width:250px;max-width:250px; height:32px;"></textarea>
    </div>
</div>

<div id="change_lord_own_point_coin_form" title="요충지코인 변경">
    <h3>요충지 코인</h3>
    <hr />
    <div>
        <input type="text" id="point_coin" />
    </div>
    <br/>
    <h3>사유 입력</h3>
    <hr />
    <div>
        <textarea id="change_lord_own_point_coin_cause" style="width:250px;min-width:250px;max-width:250px; height:32px;"></textarea>
    </div>
</div>

<br />

<div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" id="gbox_lord_intro" dir="ltr" style="width: 100%; ">
    <div class="ui-jqgrid-view" id="gview_lord_intro" style="width: 100%; ">
        <div class="ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix">
            <span class="ui-jqgrid-title">군주 인사말</span>
        </div>
        <div class="ui-jqgrid-bdiv" style="width: 100%; ">
            <div style="position:relative;">
                <div></div>
                <table id="lord_intro_base" style="width: 100%; text-align:center; table-layout:fixed;" class="jqGridTable ui-jqgrid-btable" cellSpacing="0" cellPadding="0" border="0">
                    <tbody>
                    <tr class="ui-widget-content jqgrow ui-row-ltr" style="text-align:center;">
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none; height:24px;">군주 인사말</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="border-left:none; border-top:none;">동맹 인사말</th>
                    </tr>
                    <tr class="ui-widget-content jqgrow ui-row-ltr" style="text-align:center;">
                        <td><pre id="lord_intro_pre">{{ view_data.lord_info['lord_intro'] }}</pre></td>
                        <td><pre id="alli_intro_pre">{{ view_data.lord_info['alli_intro'] }}</pre></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br />

<?php if ($edit_btn) { ?>
<div style="text-align:right;">
    <button id="change_lord_intro" style="padding:0.4em;">&nbsp;군주 인사말 변경&nbsp;</button>
    <button id="change_alli_intro" style="padding:0.4em;">&nbsp;동맹 인사말 변경&nbsp;</button>
</div>
<?php } ?>
<div id="change_lord_intro_form" title="군주 인사말 변경">
    <h3>군주 인사말  입력</h3>
    <hr />
    <div>
        <textarea id="lord_intro" style="width:450px;min-width:450px;max-width:450px;height:92px;"></textarea>
    </div>
    <br/>
    <h3>사유 입력</h3>
    <hr />
    <div>
        <textarea id="change_lord_intro_cause" style="width:450px;min-width:450px;max-width:450px;height:32px;"></textarea>
    </div>
</div>

<div id="change_alli_intro_form" title="동맹 인사말 변경">
    <h3>동맹 인사말 입력</h3>
    <hr />
    <div>
        <textarea id="alli_intro" style="width:450px;min-width:450px;max-width:450px;height:92px;"></textarea>
    </div>
    <br/>
    <h3>사유 입력</h3>
    <hr />
    <div>
        <textarea id="change_alli_intro_cause" style="width:450px;min-width:450px;max-width:450px;height:32px;"></textarea>
    </div>
</div>

<br />

<div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" id="gbox_lord_own_terr_list" dir="ltr" style="width: 100%; ">
    <div class="ui-jqgrid-view" id="gview_lord_own_terr_list" style="width: 100%; ">
        <div class="ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix">
            <span class="ui-jqgrid-title">군주 큐빅 정보</span>
        </div>
        <div class="ui-jqgrid-bdiv" style="width: 100%; ">
            <div style="position:relative;">
                <table class="ui-jqgrid-htable" style="width:100%" cellspacing="0" cellpadding="0" border="0">
                    <thead>
                    <tr class="ui-jqgrid-labels">
                        <th class="ui-state-default ui-th-column ui-th-ltr">가입시 지급</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">실제 충전</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">충전 보너스</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">전체 사용</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">남은큐빅</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="ui-widget-content jqgrow ui-row-ltr" style="text-align:center;">
                        <td style="text-align:center;">{{ view_data.qbig_row['cash_regist'] | number_format }}</td>
                        <td style="text-align:center;">{{ view_data.qbig_row['incr_cash'] | number_format }}</td>
                        <td style="text-align:center;">{{ view_data.qbig_row['bonus_cash'] | number_format }}</td>
                        <td style="text-align:center;">{{ view_data.qbig_row['desc_spent'] | number_format }}</td>
                        <td style="text-align:center;">{{ view_data.qbig_row['remain_cash'] | number_format }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br/>

<div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" id="gbox_lord_own_terr_list" dir="ltr" style="width: 100%; ">
    <div class="ui-jqgrid-view" id="gview_lord_own_terr_list" style="width: 100%; ">
        <div class="ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix">
            <span class="ui-jqgrid-title">보유 영지 목록</span>
        </div>
        <div class="ui-jqgrid-bdiv" style="width: 100%; ">
            <div style="position:relative;">
                <div></div>
                <table id="lord_own_terr_list" style="width:100%; text-align:center; table-layout:fixed;" class="jqGridTable ui-jqgrid-btable" cellSpacing="0" cellPadding="0" border="0">
                    <thead>
                    <tr class="ui-jqgrid-labels">
                        <th class="ui-state-default ui-th-column ui-th-ltr" style="width:70px;">No.</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">영지명</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">좌표</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for k, v in _SESSION['selected_lord']['territory'] %}
                        <tr id="{{ v['posi_pk'] }}" class="ui-widget-content jqgrow ui-row-ltr" style="text-align:center;">
                            <td style='text-align:center; width:70px;'>1</td>
                            <td style='text-align:center; width:70px;'>{{ v['title'] }}</td>
                            <td style='text-align:center; width:70px;'>{{ v['posi_pk'] }}</td>
                            <td style='text-align:center; width:70px;'>normal</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br />

<div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" id="gbox_lord_own_army_n_troop" dir="ltr" style="width: 100%; ">
    <div class="ui-jqgrid-view" id="gview_lord_own_army_n_troop" style="width: 100%; ">
        <div class="ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix">
            <span class="ui-jqgrid-title">보유 병력 현황</span>
        </div>
        <div class="ui-jqgrid-bdiv" style="width: 100%; ">
            <div style="position:relative;">
                <div></div>
                <table id="lord_own_army_n_troop" style="width:100%; text-align:center; table-layout:fixed;" class="jqGridTable ui-jqgrid-btable" cellSpacing="0" cellPadding="0" border="0">
                    <thead>
                    <tr class="ui-jqgrid-labels">
                        <th class="ui-state-default ui-th-column ui-th-ltr">좌표</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">민병</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">보병</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">극병</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">창병</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">정찰병</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">궁병</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">기병</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">수송병</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">중갑보병</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">중갑기병</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">노궁병</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">공성추</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">투석기</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">팔륜누차</th>
                        <th class="ui-state-default ui-th-column ui-th-ltr">비고</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for k, v in view_data.lord_own_army_list %}
                        <tr id="lord_own_army_list_{{ k }}" class="ui-widget-content jqgrow ui-row-ltr" style="text-align:center;">
                            <td style='text-align:center; width:61px;'>{{ v['posi_pk'] }}</td>
                            <td style='text-align:center; width:61px;'>{{ v['worker'] }}</td>
                            <td style='text-align:center; width:61px;'>{{ v['infantry'] }}</td>
                            <td style='text-align:center; width:61px;'>{{ v['pikeman'] }}</td>
                            <td style='text-align:center; width:61px;'>{{ v['spearman'] }}</td>
                            <td style='text-align:center; width:61px;'>{{ v['scout'] }}</td>
                            <td style='text-align:center; width:61px;'>{{ v['archer'] }}</td>
                            <td style='text-align:center; width:61px;'>{{ v['horseman'] }}</td>
                            <td style='text-align:center; width:61px;'>{{ v['transporter'] }}</td>
                            <td style='text-align:center; width:61px;'>{{ v['armed_infantry'] }}</td>
                            <td style='text-align:center; width:61px;'>{{ v['armed_horseman'] }}</td>
                            <td style='text-align:center; width:61px;'>{{ v['bowman'] }}</td>
                            <td style='text-align:center; width:61px;'>{{ v['battering_ram'] }}</td>
                            <td style='text-align:center; width:61px;'>{{ v['catapult'] }}</td>
                            <td style='text-align:center; width:61px;'>{{ v['adv_catapult'] }}</td>
                            <td style='text-align:center; width:61px;'>{{ v['note'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>