
<h2>건설 로그 검색</h2>

<hr />

<fieldset id="time_interval_set" class="cpn_search_form" style="float : left; width : 270px;">
    <legend>검색기간</legend>
    <input type="text" id="search_time_start" value="{{ search_time_start }}" /> ~ <input type="text" id="search_time_end" value="{{ search_time_end }}" />
</fieldset>

<fieldset id="lord_search_by_account_form" class="cpn_search_form" style="float : left; width:106px; margin-left : 12px;">
    <legend>군주명 검색</legend>
    <input type="text" id="lord_name" value="{{ _SESSION['selected_lord']['lord_name'] }}" />
</fieldset>

<fieldset id="terr_search_by_offset_form" class="cpn_search_form" style="float : left; width:140px; margin-left : 12px;">
    <legend>좌표 검색</legend>
    X <input type="text" id="offset_x" class="offset" maxlength="3" /> / Y <input type="text" id="offset_y" class="offset" maxlength="3" />
</fieldset>

<fieldset id="search_type" class="cpn_search_form" style="float : left; width:200px; margin-left : 12px;">
    <legend>검색 분류 지정</legend>
    <div style="position:relative;">
        <div id="search_type_view" style="width:220px;height:14px;border:1px solid #ccc;">선택된 검색 분류 : <span id="selected_search_type_count">없음</span></div>
        <div id="search_type_detail" style="width:220px;height:476px;overflow-y:scroll;position:absolute;top:14px;left:0;border:1px solid #ccc;background-color:#fff; z-index:99; display:none;">
            <ul style="list-style-type : none;margin-left:10px;margin-top:8px; line-height:20px;">
                {% set array = {
                    upgrade: '건물 건설/업그레이드',
                    complete: '건물 건설/업그레이드 완료'
                } %}
                <!-- 더 이상 사용 안하는 항목
                    demolish: '건물 다운그레이드',
                    demolish_complete: '건물 다운그레이드 완료',
                    dynamite: '건물 철거',
                    cancel: '건물 건설/업그레이드 취소',
                    build_cancel_D: '건물 다운그레이드 취소'
                -->
                {% for key, value in array  %}
                    <li><input type='checkbox' value='{{ key }}' id='search_type_{{ key }}' /> <label for='search_type_{{ key }}'>{{ value }}</label></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</fieldset>

<div style="float : left; margin-left : 12px; margin-top:10px;">
    <button id="search_log" style="padding:4px 12px; width:80px;height:48px;">검색</button>
    <button id="search_log_add" style="padding:4px 12px; width:80px;height:48px">추가보기</button>
</div>



<br style="clear : both;" />
<br/>

<div style="padding:8px;background-color:#c0c0c0;border:1px solid #eee;font-weight:bold;text-align:center;">검색된 결과는 500건까지 우선 표시됩니다. 추가 보기 버튼을 누르면 500건씩 추가됩니다.<br/>가능하면 군주명이나 좌표를 반드시 입력해주십시오.</div>

<br/>

<div id="search_result" style="z-index:98;">
</div>