<h2>[ {{ _SESSION['selected_terr']['title'] }} ] 영지 소속 영웅</h2>
<hr />
<table id="terr_own_hero" class="jqGridTable">
</table>
<div id="pager_terr_own_hero"></div>

<div id="hero_slot_info">
	<table style="border:1px solid #000; border-collapse:collapse;width:100%;text-align:center;">
		<tbody>
		<tr>
			<th style="padding:0.4em;">영웅 이름</th>
			<td style="padding:0.4em;" class="hero_name"></td>
		</tr>
		<tr>
			<th style="padding:0.4em;">관직</th>
			<td style="padding:0.4em;" class="hero_offi"></td>
		</tr>
		<tr>
			<th style="padding:0.4em;">경험치</th>
			<td style="padding:0.4em;" class="hero_exp"></td>
		</tr>
		<tr>
			<th style="padding:0.4em;">사용중인 슬롯 / 열려있는 슬롯</th>
			<td style="padding:0.4em;" class="hero_slot_count"></td>
		</tr>
		<tr>
			<th style="padding:0.4em;">1번 슬롯</th>
			<td style="padding:0.4em;" class="hero_slot_1"></td>
		</tr>
		<tr>
			<th style="padding:0.4em;">2번 슬롯</th>
			<td style="padding:0.4em;" class="hero_slot_2"></td>
		</tr>
		<tr>
			<th style="padding:0.4em;">3번 슬롯</th>
			<td style="padding:0.4em;" class="hero_slot_3"></td>
		</tr>
		<tr>
			<th style="padding:0.4em;">4번 슬롯</th>
			<td style="padding:0.4em;" class="hero_slot_4"></td>
		</tr>
		<tr>
			<th style="padding:0.4em;">5번 슬롯</th>
			<td style="padding:0.4em;" class="hero_slot_5"></td>
		</tr>
		<tr>
			<th style="padding:0.4em;">6번 슬롯</th>
			<td style="padding:0.4em;" class="hero_slot_6"></td>
		</tr>
		</tbody>
	</table>
	<br />

	<table style="border: 1px solid #000; border-collapse:collapse;width:100%;text-align:center;">
		<tbody>
		<tr>
			<th style="padding:0.4em;">능력</th>
			<td style="padding:0.4em;">기본</td>
			<td style="padding:0.4em;">강화</td>
			<td style="padding:0.4em;">추가</td>
			<td style="padding:0.4em;">스킬</td>
			<td style="padding:0.4em;">관직</td>
			<td style="padding:0.4em;">현재</td>
		</tr>
		<tr>
			<th style="padding:0.4em;">통솔</th>
			<td style="padding:0.4em;" class="leadership_basic"></td>
			<td style="padding:0.4em;" class="leadership_enchant"></td>
			<td style="padding:0.4em;" class="leadership_plusstat"></td>
			<td style="padding:0.4em;" class="leadership_skill"></td>
			<td style="padding:0.4em;" class="stat_plus_leadership"></td>
			<td style="padding:0.4em;" class="leadership"></td>
		</tr>
		<tr>
			<th style="padding:0.4em;">무력</th>
			<td style="padding:0.4em;" class="mil_force_basic"></td>
			<td style="padding:0.4em;" class="mil_force_enchant"></td>
			<td style="padding:0.4em;" class="mil_force_plusstat"></td>
			<td style="padding:0.4em;" class="mil_force_skill"></td>
			<td style="padding:0.4em;" class="stat_plus_mil_force"></td>
			<td style="padding:0.4em;" class="mil_force"></td>
		</tr>
		<tr>
			<th style="padding:0.4em;">지력</th>
			<td style="padding:0.4em;" class="intellect_basic"></td>
			<td style="padding:0.4em;" class="intellect_enchant"></td>
			<td style="padding:0.4em;" class="intellect_plusstat"></td>
			<td style="padding:0.4em;" class="intellect_skill"></td>
			<td style="padding:0.4em;" class="stat_plus_intellect"></td>
			<td style="padding:0.4em;" class="intellect"></td>
		</tr>
		<tr>
			<th style="padding:0.4em;">정치</th>
			<td style="padding:0.4em;" class="politics_basic"></td>
			<td style="padding:0.4em;" class="politics_enchant"></td>
			<td style="padding:0.4em;" class="politics_plusstat"></td>
			<td style="padding:0.4em;" class="politics_skill"></td>
			<td style="padding:0.4em;" class="stat_plus_politics"></td>
			<td style="padding:0.4em;" class="politics"></td>
		</tr>
		<tr>
			<th style="padding:0.4em;">매력</th>
			<td style="padding:0.4em;" class="charm_basic"></td>
			<td style="padding:0.4em;" class="charm_enchant"></td>
			<td style="padding:0.4em;" class="charm_plusstat"></td>
			<td style="padding:0.4em;" class="charm_skill"></td>
			<td style="padding:0.4em;" class="stat_plus_charm"></td>
			<td style="padding:0.4em;" class="charm"></td>
		</tr>
		</tbody>
	</table>
</div>

<div id="edit_hero_enchant">
	<table style="border: 1px solid #000; border-collapse:collapse;width:100%;text-align:center;">
		<tbody>
		<tr>
			<th style="padding:0.4em;">통솔</th>
			<td style="padding:0.4em;"><input type="text" id="leadership_ehchant_count" maxlength="2" style="width:40px;" /></td>
			<td style="padding:0.4em;"><input type="text" id="leadership_ehchant" disabled="disabled" /></td>
		</tr>
		<tr>
			<th style="padding:0.4em;">무력</th>
			<td style="padding:0.4em;"><input type="text" id="mil_force_ehchant_count" maxlength="2" style="width:40px;" /></td>
			<td style="padding:0.4em;"><input type="text" id="mil_force_ehchant" disabled="disabled" /></td>
		</tr>
		<tr>
			<th style="padding:0.4em;">지력</th>
			<td style="padding:0.4em;"><input type="text" id="intellect_ehchant_count" maxlength="2" style="width:40px;" /></td>
			<td style="padding:0.4em;"><input type="text" id="intellect_ehchant" disabled="disabled" /></td>
		</tr>
		<tr>
			<th style="padding:0.4em;">정치</th>
			<td style="padding:0.4em;"><input type="text" id="politics_ehchant_count" maxlength="2" style="width:40px;" /></td>
			<td style="padding:0.4em;"><input type="text" id="politics_ehchant" disabled="disabled" /></td>
		</tr>
		<tr>
			<th style="padding:0.4em;">매력</th>
			<td style="padding:0.4em;"><input type="text" id="charm_ehchant_count" maxlength="2" style="width:40px;" /></td>
			<td style="padding:0.4em;"><input type="text" id="charm_ehchant" disabled="disabled" /></td>
		</tr>
		<tr>
			<th style="padding:0.4em;">각성</th>
			<td style="padding:0.4em;"><input type="text" id="lord_enchant_count" maxlength="2" style="width:40px;" /></td>
			<td style="padding:0.4em;"><input type="text" id="lord_enchant" disabled="disabled" /></td>
		</tr>
		</tbody>
	</table>
	<br/>
	<h3>사유 입력</h3>
	<hr/>
	<div>
		<textarea id="edit_enchant_cause" style="width:370px;min-width:370px;max-width:370px; height:64px;"></textarea>
	</div>
</div>

<div id="edit_hero_loyalty">
	<table border="1" bordercolor="#000" style="border-collapse:collapse;width:100%;text-align:center;">
		<tbody>
		<tr>
			<th style="padding:0.4em;">충성</th>
			<td style="padding:0.4em;"><input type="text" id="hero_loyalty" /></td>
		</tr>
		</tbody>
	</table>
	<br/>
	<h3>사유 입력</h3>
	<hr/>
	<div>
		<textarea id="edit_loyalty_cause" style="width:370px;min-width:370px;max-width:370px; height:64px;"></textarea>
	</div>
</div>

<div id="set_hero_skill">
	<div>전체 슬롯 : <span class="total_slot"></span> / 사용중인 슬롯 : <span class="used_slot"></span></div>
	<div>가용한 슬롯 : <span class="avail_slot"></span> / 필요한 슬롯 : <span class="need_slot"></span></div>
	<hr />
	{% set skill_types = {D: '성장', A: '배속', P: '수행', S: '특수', B: '전투'} %}
	<select depth='1' class='root'>
		<option>선택</option>
		{% for k, v in skill_types %}
			<option value="{{ k }}">{{ v }}</option>
		{% endfor %}
	</select>
	{% for k, v in skill_types %}
		<select depth='2' class='type_{{ k }}' style='display:none;'>
			<option>선택</option>
			{% for k2, v2 in _M['HERO_SKILL'] | sort() | filter(m => m.rare == 1 and m.type == k) %}
			<option value="{{ k2[0:4] }}" slotuse="{{ v2.use_slot_count }}">{{ v2.title }} [{{ v2.use_slot_count }}]</option>
			{% endfor %}
		</select>
	{% endfor %}
	{% for k, v in skill_types %}
		{% for k2, v2 in _M['HERO_SKILL'] | sort() | filter(m => m.rare == 1 and m.type == k) %}
			<select depth='3' class='skill_base_{{ k2[0:4] }}' style='display:none;'>
				<option>선택</option>
			{% for k3, v3 in _M['HERO_SKILL'] | sort() | filter(m => m.m_hero_skil_pk[0:4] == k2[0:4]) %}
				<option value="{{ v3.m_hero_skil_pk }}">Lv.{{ v3.rare }}</option>
			{% endfor %}
			</select>
		{% endfor %}
	{% endfor %}
	<br />
	<hr />
	<h3>사유 입력</h3>
	<hr/>
	<div>
		<textarea id="add_skill_cause" style="width:370px;min-width:370px;max-width:370px; height:64px;"></textarea>
	</div>
</div>